* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: auto; */
}


.custom-nav {
        background-color: #38A538;
        height: 95px;
        margin-bottom: 3px;
}

.custom-home {
        margin-top: 20px;
    padding-right: 50px;
}

.custom-text {
    font: color white;
}


.custom-card {
        height: 400px;
}

.custom-height {
    border-color: #38A538;
    margin: 5px;
}


.custom-box {
    width: 100%;
    margin-top: 15px;
    padding-top: 10px;
    
   }

   .custom-card1 {
    border-color: #38A538;
   }

.custom-font {
    font-size: 15px;
    text-align: center;
}



/* ======== Footer ======= */

.custom-fheigt {
    height: 380px;
    margin-left: 50px;
    padding-top: 20px;
    padding-left: 15px;
}

.custom-fheigt1 {
    height: 25px;
    margin-top: 5px;
    margin-left: 10px;
   border-color: aliceblue;
}

.career {
    justify-content: center;
    margin-left: 700px;
}

.career-1 {
    justify-content: center;
    margin-left: 850px;
}

.btn-100 {
    justify-content: center;
    margin-left: 925px;
    height: 40px;
    width: 150px;
    font-size: 18px;
    background-color: #F68821;
    border-radius: 5px;
    color: beige;
    border-style: none;

}

.career-box {
    margin-top: 150px;
}

.custom-f2 {
   /* margin-left: 50px; */
   padding-left: 100px;
}

.custom-f3 {
    /* margin-right: 50px; */
 }

 .privacy {
    text-align: center;
 }

 .custom-font {
    font-size: 14px;
 }

 .card-text {
    text-align: center;
 }



 /* =========== Divice Responsive ========== */

 /* ===search and logo=== */

 @media screen and (max-width: 869px) {
    width: 100% !important;
 }


 



 /* ======= Products Responsive ======== */

 @media screen and (min-width: 1496px) {
    .custom-height {
        margin: 9px; 
        width: 200px !important;       
    }
    
 }


 @media screen and (max-width: 1496px) {
    .custom-height {
        margin: 9px; 
        width: 200px !important;       
    }
    
 }

 @media screen and (max-width: 1401px) {
    .custom-height {
            margin: 9px; 
            width: 200px !important;       
        }     
 }

 @media screen and (max-width: 1400px) {
    .custom-height {
            margin: 10px; 
            width: 205px !important;       
        }     
 }

 @media screen and (max-width: 1200px) {
    .custom-height {
        margin: 5px;
        width: 230px !important;       
        }     
 }

 @media screen and (max-width: 768px) {
    .custom-height {
        margin: 5px;
        width: 230px !important;       
        }     
 }

 /* @media screen and (max-width: 767px) {
    .custom-height {
        margin: 5px;
        width: 255px !important;       
        }     
 } */

 @media screen and (max-width: 577px) {
    .custom-height {
        margin: 5px;
        width: 275px !important;       
        }     
 }

 @media screen and (max-width: 570px) {
    .custom-height {
        margin: 5px;
        width: 270px !important;       
        }     
 }

 @media screen and (max-width: 560px) {
    .custom-height {
        margin: 5px;
        width: 265px !important;       
        }     
 }

 @media screen and (max-width: 550px) {
    .custom-height {
        margin: 5px;
        width: 255px !important;       
        }     
 }

 @media screen and (max-width: 530px) {
    .custom-height {
        margin: 5px;
        width: 250px !important;       
        }     
 }

 @media screen and (max-width: 520px) {
    .custom-height {
        margin: 5px;
        width: 245px !important;       
        }     
 }

 @media screen and (max-width: 510px) {
    .custom-height {
        margin: 5px;
        width: 240px !important;       
        }     
 }

 @media screen and (max-width: 500px) {
    .custom-height {
        margin: 5px;
        width: 237px !important;       
        }     
 }

 @media screen and (max-width: 494px) {
    .custom-height {
        margin: 5px;
        width: 234px !important;       
        }     
 }

 @media screen and (max-width: 488px) {
    .custom-height {
        margin: 4px;
        width: 232px !important;       
        }     
 }

 @media screen and (max-width: 480px) {
    .custom-height {
        margin: 4px;
        width: 230px !important;       
        }     
 }

 @media screen and (max-width: 476px) {
    .custom-height {
        margin: 4px;
        width: 228px !important;       
        }     
 }

 @media screen and (max-width: 473px) {
    .custom-height {
        margin: 4px;
        width: 222px !important;       
        }     
 }

 @media screen and (max-width: 460px) {
    .custom-height {
        margin: 4px;
        width: 220px !important;       
        }     
 }

 @media screen and (max-width: 456px) {
    .custom-height {
        margin: 3px;
        width: 220px !important;       
        }     
 }

 @media screen and (max-width: 452px) {
    .custom-height {
        margin: 4px;
        width: 210px !important;       
        }     
 }

 @media screen and (max-width: 452px) {
    .custom-height {
        margin: 4px;
        width: 205px !important;       
        }     
 }

 @media screen and (max-width: 426px) {
    .custom-height {
        margin: 4px;
        width: 200px !important;       
        }     
 }

 @media screen and (max-width: 416px) {
    .custom-height {
        margin: 4px;
        width: 195px !important;       
        }     
 }

 @media screen and (max-width: 406px) {
    .custom-height {
        margin: 4px;
        width: 190px !important;       
        }     
 }

 @media screen and (max-width: 396px) {
    .custom-height {
        margin: 4px;
        width: 185px !important;       
        }     
 }

 @media screen and (max-width: 386px) {
    .custom-height {
        margin: 3px;
        width: 180px !important;       
        }     
 }

 @media screen and (max-width: 372px) {
    .custom-height {
        margin: 3px;
        width: 175px !important;       
        }     
 }

 @media screen and (max-width: 362px) {
    .custom-height {
        margin: 3px;
        width: 170px !important;       
        }     
 }

 @media screen and (max-width: 352px) {
    .custom-height {
        width: 335px !important;    
        }     
 }

 




 /* =========Products Responsive End ======= */



/* =============Footer Responsive Start =========== */


@media screen and (max-width: 992px) {
    .custom-fheigt {
      height: 450px;
      background-color: #38A538;
      text-overflow: none;
    }
}

@media screen and (max-width: 768px) {
    .custom-fheigt {
      height: 550px;
      background-color: #38A538;
      text-overflow: none;
    }
}

@media screen and (max-width: 577px) {
    .custom-fheigt {
      height: 620px;
      background-color: #38A538;
      text-overflow: none;
      font-size: small
    }
}


@media screen and (max-width: 495px) {
    .custom-fheigt {
      height: 680px;
      background-color: #38A538;
      text-overflow: none;
    }
}





/* =============Footer Responsive End =========== */
