* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: auto; */
}


.custom-nav {
        background-color: #38A538;
}

.custom-home {
        margin-top: 20px;
    padding-right: 50px;
}

.custom-text {
    font: color white;
}


.custom-card {
        height: 400px;
}

.custom-height {
    border-color: #38A538;
    margin: 5px;
}


.custom-box {
    width: 100%;
    margin-top: 15px;
    padding-top: 10px;
    
   }

   .custom-card1 {
    border-color: #38A538;
   }

.custom-font {
    font-size: 15px;
    text-align: center;
}



/* ======== Footer ======= */

.custom-fheigt {
    height: 400px;
    margin-left: 50px;
    padding-top: 20px;
    padding-left: 15px;
    border-style:solid;
    text-align: center;
}

/* .custom-fheigt1 {
    height: 25px;
    margin-top: 5px;
    margin-left: 10px;
   border-color: aliceblue;
} */

.custom-h4 {
    text-align: center;
    padding: 5px;
    margin-left: 80px;
    margin-right: 80px;
}

.career {
    justify-content: center;
    margin-left: 700px;
}

.career-1 {
    justify-content: center;
    margin-left: 850px;
}

.btn-100 {
    justify-content: center;
    margin-left: 925px;
    height: 40px;
    width: 150px;
    font-size: 18px;
    background-color: #F68821;
    border-radius: 5px;
    color: beige;
    border-style: none;

}

.career-box {
    margin-top: 150px;
}


 .privacy {
    text-align: center;
 }

 .custom-font {
    font-size: 14px;
 }

 .card-text {
    text-align: center;
 }

 .custom-bg {
    background-color: white;
    border-style: double;
    padding: 0.90px;
    margin-left: 10px;
 }




 /* =========== Divice Responsive ========== */

 /* ===search and logo=== */

 @media screen and (max-width: 869px) {
    .custom-nav {
        width: 100% !important;
    }
    
 }


 @media screen and (max-width: 576px) {
    .custom-nav {
        width: 100% !important;
    }
    
 }


 



 /* ======= Products Responsive ======== */

 @media screen and (min-width: 1496px) {
    .custom-height {
        margin: 9px; 
        width: 200px !important;       
    }
    
 }


 @media screen and (max-width: 1496px) {
    .custom-height {
        margin: 9px; 
        width: 200px !important;       
    }
    
 }

 @media screen and (max-width: 1401px) {
    .custom-height {
            margin: 9px; 
            width: 200px !important;       
        }     
 }

 @media screen and (max-width: 1400px) {
    .custom-height {
            margin: 10px; 
            width: 205px !important;       
        }     
 }

 @media screen and (max-width: 1200px) {
    .custom-height {
        margin: 5px;
        width: 230px !important;       
        }     
 }

 @media screen and (max-width: 768px) {
    .custom-height {
        margin: 5px;
        width: 230px !important;       
        }     
 }

 @media screen and (max-width: 767px) {
    .custom-height {
        margin: 5px;
        width: 255px !important;       
        }     
 }

 @media screen and (max-width: 577px) {
    .custom-height {
        margin: 5px;
        width: 275px !important;       
        }     
 }

 @media screen and (max-width: 570px) {
    .custom-height {
        margin: 5px;
        width: 270px !important;       
        }     
 }

 @media screen and (max-width: 560px) {
    .custom-height {
        margin: 5px;
        width: 265px !important;       
        }     
 }

 @media screen and (max-width: 550px) {
    .custom-height {
        margin: 5px;
        width: 255px !important;       
        }     
 }

 @media screen and (max-width: 530px) {
    .custom-height {
        margin: 5px;
        width: 250px !important;       
        }     
 }

 @media screen and (max-width: 520px) {
    .custom-height {
        margin: 5px;
        width: 245px !important;       
        }     
 }

 @media screen and (max-width: 510px) {
    .custom-height {
        margin: 5px;
        width: 240px !important;       
        }     
 }

 @media screen and (max-width: 500px) {
    .custom-height {
        margin: 5px;
        width: 237px !important;       
        }     
 }

 @media screen and (max-width: 494px) {
    .custom-height {
        margin: 5px;
        width: 234px !important;       
        }     
 }

 @media screen and (max-width: 488px) {
    .custom-height {
        margin: 4px;
        width: 232px !important;       
        }     
 }

 @media screen and (max-width: 480px) {
    .custom-height {
        margin: 4px;
        width: 230px !important;       
        }     
 }

 @media screen and (max-width: 476px) {
    .custom-height {
        margin: 4px;
        width: 228px !important;       
        }     
 }

 @media screen and (max-width: 473px) {
    .custom-height {
        margin: 4px;
        width: 222px !important;       
        }     
 }

 @media screen and (max-width: 460px) {
    .custom-height {
        margin: 4px;
        width: 220px !important;       
        }     
 }

 @media screen and (max-width: 456px) {
    .custom-height {
        margin: 3px;
        width: 220px !important;       
        }     
 }

 @media screen and (max-width: 452px) {
    .custom-height {
        margin: 4px;
        width: 210px !important;       
        }     
 }

 @media screen and (max-width: 452px) {
    .custom-height {
        margin: 4px;
        width: 205px !important;       
        }     
 }

 @media screen and (max-width: 426px) {
    .custom-height {
        margin: 4px;
        width: 200px !important;       
        }     
 }

 @media screen and (max-width: 416px) {
    .custom-height {
        margin: 4px;
        width: 195px !important;       
        }     
 }

 @media screen and (max-width: 406px) {
    .custom-height {
        margin: 4px;
        width: 190px !important;       
        }     
 }

 @media screen and (max-width: 396px) {
    .custom-height {
        margin: 4px;
        width: 185px !important;       
        }     
 }

 @media screen and (max-width: 386px) {
    .custom-height {
        margin: 3px;
        width: 180px !important;       
        }     
 }

 @media screen and (max-width: 372px) {
    .custom-height {
        margin: 3px;
        width: 175px !important;       
        }     
 }

 @media screen and (max-width: 362px) {
    .custom-height {
        margin: 3px;
        width: 170px !important;       
        }     
 }

 @media screen and (max-width: 352px) {
    .custom-height {
        width: 335px !important;    
        }     
 }

 




 /* =========Products Responsive End ======= */



/* =============Footer Responsive Start =========== */


@media screen and (max-width: 992px) {
    .custom-fheigt {
      height: 450px;
      background-color: #38A538;
      text-overflow: none;
    }
}

@media screen and (max-width: 768px) {
    .custom-fheigt {
      height: 550px;
      background-color: #38A538;
      text-overflow: none;
    }
}

@media screen and (max-width: 577px) {
    .custom-fheigt {
      height: 620px;
      background-color: #38A538;
      text-overflow: none;
      font-size: small
    }
}


@media screen and (max-width: 495px) {
    .custom-fheigt {
      height: 680px;
      background-color: #38A538;
      text-overflow: none;
    }
}








@media screen and (max-width: 1389px) {
    .custom-fheigt {
        height: 420px;
    }
}

@media screen and (max-width: 1347px) {
    .custom-fheigt {
        height: 440px;
    }

    .custom-h4 {
        font-size: 20px;
    }
}

@media screen and (max-width: 1261px) {
    .custom-h4 {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media screen and (max-width: 1101px) {
    .custom-h4 {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 1021px) {
    .custom-h4 {
        margin-left: 35px;
        margin-right: 35px;
    }
}


@media screen and (max-width: 901px) {
    .custom-h4 {
        margin-left: 25px;
        margin-right: 25px;
    }

    .custom-fheigt {
        height: 450px;
    }
}

@media screen and (max-width: 881px) {
    .custom-h4 {
        margin-left: 15px;
        margin-right: 15px;
    }

    .custom-fheigt {
        height: 490px;
    }
}

/* @media screen and (max-width: 769px) {
    .custom-h4 {
        margin-left: 100%;
        margin-right: 100%;
    }

    .custom-fheigt {
        height: 565px;
    }
} */

@media screen and (max-width: 768px) {
    .custom-h4 {
        margin-left: 15px;
        margin-right: 15px;
    }

    .custom-fheigt {
        height: 600px;
    }
}

@media screen and (max-width: 608px) {
    .custom-h4 {
        margin-left: 60px;
        margin-right: 60px;
    }

    .custom-fheigt {
        height: 610px;
    }
}

@media screen and (max-width: 577px) {
    .custom-h4 {
        margin-left: 40px;
        margin-right: 40px;
    }

    .custom-cright {
        font-size: 14px;
    }

    .custom-fheigt {
        height: 590px;
    }
}

@media screen and (max-width: 424px) {
    .custom-h4 {
        margin-left: 40px;
        margin-right: 40px;
    }

    .custom-cright {
        font-size: 13px;
    }
}

@media screen and (max-width: 401px) {
        .custom-cright {
        font-size: 11px;
    }
}

@media screen and (max-width: 417px) {
    .custom-h4 {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 16px;
    }

    .custom-cright {
        font-size: 15px;
    }

    .custom-fheigt {
        height: 595px;
    }
}

@media screen and (max-width: 373px) {
    .custom-h4 {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 14px;
    }

    .custom-cright {
        font-size: 15px;
    }

    .custom-fheigt {
        height: 600px;
    }
}

@media screen and (max-width: 373px) {
    .custom-h4 {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 12px;
    }

    .custom-cright {
        font-size: 14px;
    }

    .custom-fheigt {
        height: 610px;
    }
}

@media screen and (max-width: 330px) {
    .custom-h4 {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 10px;
    }

    .custom-cright {
        font-size: 13px;
    }

    .custom-fheigt {
        height: 620px;
    }
}

@media screen and (max-width: 313px) {
    .custom-h4 {
        font-size: 10px;
    }

    .custom-cright {
        font-size: 12px;
    }

    .custom-fheigt {
        height: 650px;
    }
}

@media screen and (max-width: 309px) {
    .custom-h4 {
        font-size: 9px;
    }

    .custom-cright {
        font-size: 10px;
    }

    .custom-fheigt {
        height: 650px;
    }
}

@media screen and (max-width: 298px) {
    .custom-h4 {
        font-size: 9px;
        width: 100%;
    }

    .custom-cright {
        font-size: 10px;
    }

    .custom-fheigt {
        height: 650px;
    }
}

@media screen and (max-width: 273px) {
    .custom-h4 {
        font-size: 9px;
        width: 100%;
    }

    .custom-cright {
        font-size: 10px;
    }

    .custom-fheigt {
        height: 685px;
    }
}

/* @media screen and (max-width: 313px) {
    .custom-h4 {
        margin-left: 2px;
        margin-right: 2px;
        font-size: 11px;
    }

    .custom-copiright {
        font-size: 5px;
    }

    .custom-fheigt {
        height: 640px;
    }
} */

@media screen and (max-width: 497px) {
    .custom-h4 {
        margin-left: 20px;
        margin-right: 20px;
    }

    .custom-fheigt {
        height: 592px;
    }
}

/* @media screen and (max-width: 768px) {
    .custom-h4 {
        margin-left: 10px;
        margin-right: 10px;
    }

    .custom-fheigt {
        height: 495px;
    }
} */

@media screen and (max-width: 1030px) {
    .custom-copiright {
        font-size: 15px;
     }
}

/* =============Footer Responsive End =========== */
